<!DOCTYPE html>
<html ng-app= "MyFirstApp">
<head>
	<title>To Do List</title>
	
	<meta charset="utf-8">
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	
	<script src="../lib/angularLocalStorage.min.js"></script>
	
	<script src="../controller/controllerToDo.js"></script>	

</head>
<body ng-controller= "toDoController">
	<ul>
		<li ng-repeat= "actividad in todo">
			{{actividad.descripcion}}
			{{actividad.fecha}}
		</li>
		<br>
		<br>		
	</ul>
	<form ng-submit= "addAct()">
		<input type="text" ng-model= "newAct.descripcion">
		<input type="datetime-local" ng-model= "newAct.fecha">
		<input type="submit" value="guardar actividad">
	</form>


</body>
</html>